<!DOCTYPE html>
<head lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GREEN GUARDIAN</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet"></head>
</head>
<body>
  <div>
    <header class="navbar">
      <h1 class="homepage-header">
        <a href="/">GREEN GUARDIAN</a>
      </h1>
      <nav class="nav-items">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/posts">ALL POSTS</a>
        <button class="no-button" id="logout">LOGOUT</button>
        {{else}}

        <a href="/login">LOGIN</a>
        <a href="/signUp">SIGN UP</a>
        {{/if}}
      </nav>
    </header>
    <main>

      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>



  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  <script src="./js/login.js"></script>
  {{/if}}
</body>

</html>