<input type="text" name="" id="titleInp">
<input type="text" name="" id="descInp">
<p>Image</p>
<button id="postBtn">Post</button>

{{#each posts as |post|}}
<h2>{{post.title}}</h2>
<p>{{post.image}}</p>
<p>{{post.description}}</p>

<p>Created by {{post.user.username}}</p>
{{/each}}