{{!-- <form class="form">
    <input type="text" name="" id="titleInp">
    <input type="text" name="" id="descInp">
    <p>Image</p>
    <button class="btn" id="postBtn">Post</button>
</form> --}}



<div class="home-card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" id="titleInp" name="post-title" class="form-input" />
        <label class="form-label" for="content">Description</label>
        <input name="content" class="form-input" id="descInp" />
        <button type="submit" class="btn" id="postBtn">Create</button>
    </form>
    <button id="upload_widget" class="cloudinary-button">UPLOAD PHOTO</button>
</div>

{{#each posts as |post|}}
<h2>{{post.title}}</h2>
<p>{{post.image}}</p>
<p>{{post.description}}</p>

<p>Created by {{post.user.username}}</p>
{{/each}}

<script src="./js/post.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/js/widget.js"></script>