* {
  font-family: 'Montserrat', sans-serif;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-image: url("../images/plantroom4.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  text-align: center;
  font-weight: 400;
  align-items: center;
}

p {
  padding: 0px 100px 0 100px;
}

footer {
  background-color: rgba(255, 255, 255, 0.925);
  width: 100vw;
  padding: 10px;
  position: relative;
  margin-top: 30px;
  font-size: 13px;
}

footer h4 {
  font-weight: 300;
  text-align: center;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.row-signup, .row-login, .row-home  {
  min-width: 60%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
}

.homepage-header {
  text-align: center;
  font-weight: 200;
  padding: 5px 0 5px 0px;
}

.homepage-header a {
  color: black;
  display: inline-block;
  text-decoration: none;
  border: solid black 2px;
  padding: 15px 75px 15px 75px;
  overflow-y: auto;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.nav-items a, .logout-button {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.logout-button {
  text-decoration: none;
  border: none;
  background: none;
  font-size: 16px
}

.recents-header h3, .recents-all {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 60px;
  text-shadow: 6px 0px 6px rgba(0, 0, 0, 0.542)
}

.recent-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  margin-bottom: 30px;
}

.homepage-posts {
  background-color: rgba(255, 255, 255, 0.925);
  margin: 20px 0 10px 0;
  padding: 5px;
  text-align: center;
  max-width: 90%;
}

.homepage-posts-titles {
  font-weight: 200;
  margin-top: 10px;
}

.recent-posts .title {
  font-size: 30px;
  font-weight: 200;
}

.recent-posts .homepage-posts-descriptions, .homepage-posts-users {
  font-size: 15px;
}

.qs-and-as {
  font-size: 15px;
  font-weight: 600;
}

.login-form-container {
  background-color: rgba(255, 255, 255, 0.925);
  margin: 50px;
  padding: 10px 0px 10px 0px;
  margin-top: 80px;
  font-weight: 300;
  border-radius: 1px;
  text-align: center;
}


.login-page-form, .sign-up-form {
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  padding: 30px 50px 30px 50px;
  margin-top: 80px;
  width: 50%;
}

.login-page-form, .sign-up-form .su-form {
  text-align: center;
}

.login-form-container h2, .login-page-form h2, .sign-up-form h2 {
  text-align: center;
  font-weight: 300;
  padding: -10px;
}

.form-input {
  margin: 7px;
  font-family: 'Montserrat', sans-serif;
  min-width: 60%;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  padding: 7px;
  margin: 10px;
}

.buttons a {
  margin: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}

.new-post-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  margin-top: 80px;
  min-width: 70%;
}

.new-post-container .form-input {
  min-width: 95%;
  overflow-y: auto;
}

.home-card {
  background-color: rgba(255, 255, 255, 0.925);
  padding: 10px 60px 10px 60px;
  min-width: 70%;
  font-weight: 300;
  border-radius: 1px;
  align-items: center;
  overflow-y: auto;
}

.recent-posts img {
  max-width: 90%;
}

.form-group button, .new-post-container .buttons button {
  background-color: rgba(0, 0, 0, 0.552);
  color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  border-style: none;
  box-shadow: none;
}

.new-post-container .buttons button, #addAdvice {
  background-color: rgba(0, 0, 0, 0.552);
  color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  border-style: none;
}

#upload_widget:hover, #postBtn:hover, #addAdvice:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-items a:hover, .logout-button:hover {
  text-shadow: 4px 4px 4px #888888;
  text-decoration: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: black;
  cursor: pointer;
}

.home-card .cloudinary-button:hover {
  background-color: black;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 25% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalBtnSU, .login-page-btn, .adviceBtn {
  background-color: rgba(0, 0, 0, 0.552);
  color: rgba(255, 255, 255, 0.925);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.adviceBtn {
  margin: 20px;
}

#modalBtnSU:hover, .login-page-btn:hover, .adviceBtn:hover {
  background-color: black;
  cursor: pointer;
}

.advice-input {
  width: 50%;
  height: 100px;
  margin: 10px;
}

#addAdvice {
  margin-bottom: 20px;
  padding: 10px;
}

#descInp {
  height: 100px;
}

