* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("monsterrawall.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  /* border-bottom: 2px solid black; */
  background-color: rgba(255, 255, 255, 0.782);
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 15px;
}

.homepage-header {
  text-align: center;
  font-weight: 200;
  padding: 5px 0 15px 0;
}

.homepage-header a {
  color: black;
  display: inline;
  text-decoration: none;
  border: solid black 2px;
  padding: 15px 75px 15px 75px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.nav-items a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

.recents {
  text-align: center;
  color: rgba(255, 255, 255, 0.782);
}

.recent-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}

.homepage-posts {
  background-color: rgba(255, 255, 255, 0.782);
  margin: 20px 0 10px 0;
  padding: 5px;
  text-align: center;
  max-width: 90%;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}

.login-form-container {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.782);
  margin: 50px;
  padding: 10px 60px 10px 60px;
  max-width:40%;
  font-weight: 300;
  border-radius: 1px;
}

.login-form-container h2 {
  text-align: center;
  font-weight: 300;
  padding: -10px;
}

.form-input {
  line-height: 1.5;
  margin: 7px;
  width: 250px;
  font-family: 'Montserrat', sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  padding: 7px;
  margin: 10px;
}

.buttons a {
  margin: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.782);
}

.home-card {
  background-color: rgba(255, 255, 255, 0.782);
}

.form-group button {
  background-color: black;
  color: rgba(255, 255, 255, 0.782);
}

.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.621);
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

